{% extends "layouts/base.jinja" %} 

{% block content %} 
<div>
  <h1>Debt Hammer</h1>
  <p>We buy debt, then forgive it.</p>
</div>

<div>
  <h2>Get Involved</h2>
  <p>
    Contribute to our debt fund. Your contributions are directly responsible for
    forgiving millions of dollars in debt.
  </p>
  <a href="/contribute">Help Swing the Hammer</a>
</div>

<div>
  <h2>Results</h2>
  <p>
    Our goal is 100% transparency. The type of and how
    much debt we're forgiving is open to everyone.
  </p>
  <a href="/reports">Read the reports</a>
</div>

<blockquote>
  <p>
    Debt Hammer is the worst debt collector in America.
  </p>
  <cite>Wall Street Journal</cite>
</blockquote>
{% endblock %}
